*{
    padding: 0px;
    margin: 0px;
}
.box1{
    height: 650px;
    width: 50%;
    float: left;
    /* background-color: yellow; */
}
.box3{
    height: 350px;
    width: 45%;
    float: left;
    /* background-color: aqua; */
    margin-left: 5%;
}
.box3 li{
    list-style-type: none;
    line-height: 2.5;
    height: 25px;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.4);
    float: left;
    margin-left: 40px;
    margin-top: 40px;
    padding-bottom: 25px;
    padding-top: 5px;
    text-align: center;
    border-radius: 20px;
    border: 2px solid red;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.box4{
    height: 350px;
    width: 45%;
    float: left;
    /* background-color: red; */
    margin-right: 5%;
}
.box4 li{
    list-style-type: none;
    line-height: 2.5;
    height: 25px;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.4);
    float: left;
    margin-left: 40px;
    margin-top: 40px;
    padding-bottom: 25px;
    padding-top: 5px;
    text-align: center;
    border-radius: 20px;
    border: 2px solid red;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.box5{
    height: 300px;
    width: 100%;
    /* background-color: aqua; */
    margin-top: 350px;
}
.box5 img{
    margin-left: 140px;
    height: 300px;
}
.box2{
    height: 520px;
    width: 35%;
    float: left;
    background-color: aqua;
    margin-right: 8%;
    margin-left: 5%;
    margin-top: 30px;
    border-radius: 15px;
    border-left: 5px solid red;
    border-right: 5px solid red;
    background-color: rgba(0, 0, 0, 0.4);
}
h3{
    color: white;
    padding-top: 20px;
    text-align: center;
    font-size: 28px;
}
input{
    margin-top: 20px;
    width: 90%;
    margin-left: 15px;
    height: 30px;
    border-radius: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    border-bottom: 5px solid red;
}
select{
    margin-top: 20px;
    width: 90%;
    margin-left: 15px;
    height: 30px;
    border-radius: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    border-bottom: 5px solid red;
    color: red;
}
textarea{
    margin-top: 20px;
    width: 90%;
    margin-left: 15px;
    height: 60px;
    border-radius: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    border-bottom: 5px solid red;
    color: rgb(214, 214, 214);
}
button{
    height: 50px;
    width: 25%;
    background-color: red;
    margin-top: 20px;
    margin-left: 170px;
    text-align: center;
    color: white;
    border-radius: 10px;
}